menu "wolfSSL"

    config TLS_STACK_WOLFSSL
        bool "Include wolfSSL in ESP-TLS"
        default y
        select FREERTOS_ENABLE_BACKWARD_COMPATIBILITY
        help
            Includes wolfSSL in ESP-TLS so that it can be compiled with wolfSSL as its SSL/TLS library.

    config WOLFSSL_HAVE_ALPN
        bool "Enable ALPN (Application Layer Protocol Negotiation) in wolfSSL"
        default y

    config WOLFSSL_HAVE_OCSP
        bool "Enable OCSP (Online Certificate Status Protocol) in wolfSSL"
        default n
        help
            Enables Online Certificate Status Protocol (OCSP) within wolfSSL, which is the modern alternative
            to maintaining Certificate Revocation Lists (CRLs). Enabling this option will make esp-tls to automatically
            indicate support for OCSP when connecting as a TLS client. Server that support OCSP will forward the
            certificate's revocation status to the client and the client will automatically verify the servers certificate
            status based on the OCSP response forwarded to it.
            Note: This option enables mandatory OCSP certificate status checking using OCSP stapling version 1 or 2.
            The TLS server the client is connecting to must support either of the two TLS extensions.

    config WOLFSSL_DEBUGGING
        bool "Enable wolfSSL debugging"
        default n
        help
            Enable wolfSSL debugging. Once debugging is enabled sections of code between wolfSSL_Debugging_ON() and
            wolfSSL_Debugging_OFF() will generate detailed debug messages.

endmenu # wolfSSL
